.body {
    margin: 8px;
}
.header-main {
    align-items: center;
}

.header-logo-solutions {
    height: auto;
    flex: 1 0 10%;
    order: 1;
    justify-content: flex-start;
    text-align: left;
    max-width: 10%;
    margin-top: 34px;
    margin-left: 7px;
}

.main-body {
    color: white;
    margin: 4% 30% 4% 40%;
}

label {
    color: #5dbcd2;
}

.questions {
    font-size: 18px;
    font-weight: bold;
}

.description {
    font-size: 12px;
    padding-left: 25px;
    line-height: 0.5cm;
}

input [type=submit] {
    align-items: end;
}

.column {
    margin-right: 5px;
    background-color: slategrey;
    flex: 50%;
    opacity: 1.0;
    text-align: left;
    padding-left: 7px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.column:hover {
   opacity: 0.5;
}
.row {
    color: white;
    text-align: center;
    display: flex;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
