.body {
    margin: 8px;
}
.header-main {
    align-items: center;
}

.header-logo-solutions {
    height: auto;
    flex: 1 0 10%;
    order: 1;
    justify-content: flex-start;
    text-align: left;
    max-width: 10%;
    margin-top: 34px;
    margin-left: 7px;
}

.main-body {
    color: white;
    margin: 4% 30% 4% 40%;
}

label {
    color: #5dbcd2;
}

.questions {
    font-size: 18px;
    font-weight: bold;
}

.description {
    font-size: 12px;
    padding-left: 25px;
}

input [type=submit] {
    align-items: end;
}

